*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: cadetblue;
    background-image: url(./Image/bg1.jfif);
    backdrop-filter:blur(4px);
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .msg{
        position:absolute;
    }
    .showMsg{
        position: absolute;
        z-index: 1;
        font-size: 7vmin;
        color: rgba(255, 30, 0, 0.829);
        transition: all 0.3s;
    }
}
.gameName{
    position:absolute;
    font-size: 4vmin;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    bottom: 92%;
    color: rgb(107, 81, 33);
    animation: anima 1s ease-in-out infinite alternate;
    
}
@keyframes anima {
    from {
        transform: scale(1);
    }        
    to {
        transform: scale(1.05);
    }
}
.gameBody{
    width: 70vmin;;
    height: 70vmin;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5vmin;
      
    .box{
        width: 20vmin;
        height: 20vmin;
        border: none;
        border-radius: 10px;
        background-color: rgba(0, 255, 170);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.384);
        transition: all 0.3s;
        font-size: 10vmin;
        font-weight: bold;
    }
    .boxclr{
        background-color: red;
        transition: all 0.3s;
    }
    .oColor{
        color:rgb(180, 136, 54);
    }
    .box:hover{
        transform: scale(1.04);
    }
}
.opacity{
    opacity: 0.3;
    transition: all 0.3s;
}
.resetBtn{
    position: relative;
    width: 70px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s;
}
.resetBtn:hover{
    color: white;
}
.resetBtn::after{
    z-index: -1;
    content: '';
    position:absolute;
    width: 0vw;
    height: 30px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(107, 33, 33);
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}
.resetBtn:hover::after{
    width: 70px;
}
/* .resetBtn:hover{
    background-color: ;
} */